[Unit]
Description=ProvedCode systemd service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
ExecStart=java -jar /var/lib/jenkins/provedcode.jar
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=default.target