[Unit]
Description=skillscope systemd service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
ExecStart=java -jar /var/lib/jenkins/skillscope.jar --server.port=8085
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=default.target